form {
    padding-left: 20px;
}

.zagol {
    color: #1F1F1F;
    width: 478px;
    position: absolute;
    left: 71px;
    padding: 10px;
    top: 245px;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
}

.defaultImg {
    position: absolute;
    top: 40px;
    left: 40px;
    cursor: pointer;
}

form {
    display: inline-flex;
    flex-direction: column;
}

.toLogin {
    position: absolute;
    top: 143px;
    left: 746px;
}

.makeAcc {
    position: absolute;
    top: 0px;
    left: 746px;
    display: inline-flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.valid {
    width: 428px;
    height: 50px;
    margin-top: 5px;
    border: 1px solid #646464;
    border-radius: 5px;
    margin-bottom: 5px;
}

.invalid {
    width: 428px;
    height: 50px;
    margin-top: 5px;
    border: 1px solid #ff0000;
    border-radius: 5px;
    margin-bottom: 5px;
}

label>input:focus {
    outline: none;
}

.forInput>p {
    width: 423px;
    height: 42px;
    margin-top: 15px;
    font-weight: 400;
    font-size: 12px;
    color: #646464;
}

.forInput>a {

    color: #646464;
}

.forInput {
    margin-top: 30px;
}

.forInput>label>img {
    position: absolute;
    top: 275px;
    left: 420px;
    width: 22px;
    cursor: pointer;
    height: 15px;
}

.otherInfo {
    width: 428px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}

.otherInfo>p {
    font-weight: 400;
    font-size: 14px;
    margin-left: 15px;
    margin-top: 18px;
    color: #646464;
}

.otherInfo>input {
    width: 24px;
    height: 24px;
    margin-top: 15px;
    border: 1px solid #646464;
    border-radius: 5px;
}

.otherInfo>img {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 46%;
}

.cont {
    margin-top: 15px;
    width: 428px;
    height: 50px;
    border-radius: 30px;
    padding: 10px;
    gap: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: #000000;
}

.makeAcc {
    margin-top: 50px;
    width: 412px;
    font-size: 14px;
    font-weight: 600;
}

.makeButt {
    margin-top: 15px;
    width: 428px;
    height: 50px;
    border-radius: 30px;
    padding: 10px;
    gap: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.verif {
    width: 423px;
    height: 42px;
    margin-top: 15px;
    margin-bottom: -30px;
    font-weight: 400;
    font-size: 12px;
    color: #646464;
}